<h1>Welcome to my travel site</h1>
<p>Places where I would like to travel</p>


<p><%= @homeland %></p>

<ul>
	<% @countries.each do |country| %>
  <li><%= country %></li>
<% end %>
</ul>



		<%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8SbLGL9V-crGS3n-MNGjjGGXPZZ6fXSkfeBMy8B1ItgU1Yj8s" %>

		<%= image_tag "canada.jpg", alt: "can" %>
	